/* Variables */

:root {
  --blue: #0075ff;
  --light-blue: #40cae2;
  --nav-bg: #171833;
  --blue-gradient: linear-gradient(to right, var(--blue), var(--light-blue));
  --text-color: #333;
}

@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Poppins";
  src: url(fonts/Poppins-Medium.ttf);
}

/* Reset Body */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  position: relative;
  min-height: 100vh;
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
  color: black;
}

img,
article {
  border-radius: 1em;
}

#wrapper {
  width: 90%;
  margin: auto;
  min-height: 797px;
}

/* MAIN */

.bolder {
  font-size: 40px !important;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.bold {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.center {
  text-align: center;
  align-items: center;
  margin: auto;
}

.center-title {
  margin: 30px 0;
  font-family: Poppins;
  font-size: 2em;
  text-align: center;
}

.article-container {
  max-width: 1200px;
}

.border-custom-top {
  border-top: 1px solid var(--light-blue);
}

.border-custom-bottom {
  border-bottom: 1px solid var(--light-blue);
}

.article {
  margin: 0 20px;
  padding: 0 20px;
  background: #eee;
  text-align: center;
}

.article-container img {
  margin: auto;
  width: 50%;
}

.article p {
  justify-content: center;
  height: 100%;
  font-size: 23px;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
}

img.lider {
  margin: 0;
  height: 350px;
  width: 400px;
  object-fit:contain;
}

figure button {
  display: flex;
  min-width: 230px;
  width: 45%;
  justify-content: space-between;
  margin-top: 16px;
  border: none;
}

.radius {
  border-radius: 20px;
}

.down-arrow {
  transform: rotateZ(-90deg);
  transition: 0.2s cubic-bezier(0, 0.68, 0.5, 1.75);
}

figure button:hover {
  cursor: pointer;
}

figure button:hover .down-arrow {
  transform: rotateZ(0);
}

figure button.active .down-arrow {
  transform: rotateZ(0);
}

figure button.active:hover .down-arrow {
  transform: rotateZ(0) scale(1.2);
}

figure button span:nth-child(1) {
  transition: 0.2s;
}

figure button:hover span:nth-child(1) {
  transform: translateX(20px);
}

.hide {
  transition: height 0.5s, opacity 1s;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.hide.show {
  opacity: 1;
  height: auto;
}

/* HEADER/NAVIGATION & FOOTER */

.navbar-brand span,
.navbar-brand span:hover {
  justify-content: space-between;
  align-items: center;
  padding: 3px 24px;
  font-size: 30px;
  color: white;
}

.nav-item .nav-link {
  padding: 10px 20px;
  width: 100%;
  text-align: center;
}

.nav-item {
  margin: 0px 15px;
}

.navbar-custom {
  background-color: var(--nav-bg);
  color: #eee;
  align-items: center;
  padding-right: 40px;
  justify-content: space-between;
}

nav a,
figure button {
  font-family: Roboto;
  color: white;
  margin: 0 24px;
  border-radius: 0.5em;
  padding: 5px 24px;
  font-size: 1.3em;
  transition: 0.1s;
}

nav a.active,
figure button {
  background: var(--blue-gradient);
  padding: 10px 15px;
}

.nav-item a:hover {
  background: rgba(19, 188, 255, 0.5);
  color: white !important;
}

nav a.active:hover {
  background: var(--blue-gradient);
}

.footer {
  position: static;
  bottom: 0;
  width: 100%;
  justify-content: space-between;
  background-color: var(--nav-bg);
  color: #eee;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

.domain {
  width: 85%;
  padding-left: 15%;
}

.footer-details i {
  font-size: 36px;
}

.footer-details h3,
.footer-details-border {
  border-bottom: 2px solid var(--light-blue);
}

.footer-details p {
  font-size: 14px;
}

.footer a {
  margin: 0;
  display: inline;
  color: #eee;
}

.footer a:hover {
  text-decoration: underline;
  color: white;
}

#social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
}

#social-icons i {
  transition: transform 0.2s cubic-bezier(0, 0.68, 0.5, 1.75);
}

#social-icons i:hover {
  color: var(--light-blue);
  transform: scale(1.21);
}

/* CUSTOM SCROLL-BAR */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #eee;
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-button {
  background-color: var(--nav-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--light-blue);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--blue);
}

#logo {
  transition: transform 0.2s cubic-bezier(0, 0.68, 0.5, 1.75);
}

.navbar-brand:hover #logo {
  transform: scale(1.1);
}

.fas {
  vertical-align: middle;
}

/* Sectiunea lui Feri - Membrii */

.grid-cards-div {
  display: grid;
  grid-template-columns: repeat(auto-fill, 340px);
  grid-template-rows: repeat(auto-fill, 170px);
  grid-gap: 64px 72px;
  justify-content: center;
  margin-top: 50px;
}

.member-type-title {
  grid-area: header;
}

.grid-card {
  width: 100%;
  height: 100%;
  max-height: 180px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 1fr 0.2fr;
  grid-template-areas: "img name" "img description" "img porfolio";
  grid-gap: 10px;
  color: var(--text-color);
}

.grid-card img {
  grid-area: img;
}

.member-name {
  grid-area: name;
}

.member-description {
  grid-area: description;
}

.porfolio-link {
  grid-area: porfolio;
}

.grid-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.member-name {
  font-weight: bolder;
}

.member-description {
  font-size: 0.8em;
  display: -webkit-box;
  max-width: 100%;
  margin: 0 auto;
  -webkit-line-clamp: 5;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  overflow: hidden;
  text-overflow: ellipsis;
}

.portfolio-link {
  padding-left: 5px;
  color: var(--blue);
  font-size: 1.1em;
  transition: 0.1s;
}

.portfolio-link:hover {
  color: var(--light-blue);
}

.portfolio-link i {
  padding-right: 10px;
  transition: 0.2s cubic-bezier(0, 0.68, 0.5, 1.75), color 0.1s;
}

.portfolio-link:hover i {
  transform: translateX(5px);
}

.row.text-center {
  margin-top: 50px;
}
